{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

{% for item in snippets %}

    <div>
        <h5>{{ item.title }}</h5>
        <p>{{ item.content|slice(0,20)}}</p>
        <a href="#">Voir</a>
    </div>

    <hr>
    
{% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(snippets) }}
    </div>

{% endblock %}
