.green-pill,
.yellow-pill {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #000;
}

.green-pill {
  background-color: #22dd22;
}

.yellow-pill {
  background-color: #f5ee28;
}
